.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}

.Icon-container-check {
    position: absolute;
    left: 12px;
}

.Icon-container-check--active {
    color: #4caf50;
}

.Icon-container-rightArrow {
    position: absolute;
    right: 2px;
}

.Icon-container-rightArrow--inactive {
    cursor: default;
    position: absolute;
    right: 2px;
}

.Icon-container-leftArrow {
    position: absolute;
    left: 2px;
}

.Icon-container-leftArrow--inactive {
    cursor: default;
    position: absolute;
    left: 2px;
}

.Icon-container-delete {
    position: absolute;
    top: -22px;
    right: -22px;
}

.Icon-container-delete:hover{
    color: red;
}

.Icon-container-downArrow {
    /* border-style: solid;
    border-radius: 50%;
    border-color: grey;
    border-width: 3px;
    height: 28px;
    width: 28px; */
    position: absolute;
    top: -8px;
    right: -22px;
    transform: rotate(0);
    transition: .3s ease;
}

.Icon-container-downArrow:hover .Icon-svg-small {
    fill: #a0a0ff;
}

.Icon-container-downArrow-active {
    transform: rotate(180deg);
}

.Icon-svg {
    width: 20px;
    height: 20px;    
}

.Icon-svg-small {
    width: 26px;
    height: 26px;    
}

.Icon-svg-tiny {
    width: 84px;
    height: 84px;
}

.Icon-container-addCircle{
    background-color: #f2f4f5;
    border-radius: 50%;
    cursor: pointer;
    font-size: 48px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    width: 84px;
    z-index: 1;
    transform: rotate(0);
    transition: .3s ease;
}

.Icon-container-addCircle:hover {
    transform: rotate(315deg);
}

.Icon-container-leftArrow:hover .Icon-svg-small{
    fill: #a0a0ff;
}

.Icon-container-rightArrow:hover .Icon-svg-small{
    fill: #a0a0ff;
}

.Icon-container-delete:hover .Icon-svg{
    fill: red;
}

.Icon-container-check:hover .Icon-svg{
    fill: lightgreen;
}

.column-menu-item > span {
    display: flex;
    line-height: 300%;
    width: 250px;
    justify-content: right;
    cursor: pointer;
}

.column-dropdown {
    position: relative;
    left: 0px;
    z-index: 1;
}
  
.column-menu {
    position: absolute;
    top: 36px;
    right: -22px;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.2);
    width: 250px;
}
  
.column-menu {
    margin: 0;
    background-color: #fafafa;
}

.column-menu-item {
    display: flex;
}
  
.column-menu > li :hover {
    background-color: lightgray;
}
  
.column-menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.column-menu-item {
    justify-content: right;
}