.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}

.Icon-container-check {
    position: absolute;
    left: 12px;
}

.Icon-container-check--active {
    color: #4caf50;
}

.Icon-container-rightArrow {
    position: absolute;
    right: 2px;
}

.Icon-container-rightArrow-inactive {
    position: absolute;
    right: 2px;
}

.Icon-container-leftArrow {
    position: absolute;
    left: 2px;
}

.Icon-container-leftArrow-inactive {
    position: absolute;
    left: 2px;
}

.Icon-container-delete {
    position: absolute;
    top: -22px;
    right: -22px;
}

.Icon-container-delete:hover{
    color: red;
}

.Icon-svg {
    width: 20px;
    height: 20px;    
}

.Icon-svg-small {
    width: 26px;
    height: 26px;    
}

.Icon-container-leftArrow:hover .Icon-svg-small{
    fill: #a0a0ff;
    color: #a0a0ff;
}

.Icon-container-rightArrow:hover .Icon-svg-small{
    fill: #a0a0ff;
    color: #a0a0ff;
}

.Icon-container-delete:hover .Icon-svg{
    fill: red;
}

.Icon-container-check:hover .Icon-svg{
    fill: lightgreen;
}