.TodoList {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: -22px;
    padding: 0 0 56px 0;
    list-style: none;
}

.row::after {
    content: "";
    display:block;
    clear: both;
}

@media screen and (max-width: 600px) {
    .row {
        margin-right: 0px;
    }
}